
<div class="acoomodation">

  <div class="form">
    <section id="first">
      <h1>Hotel Reservation</h1>
      <mat-grid-list #grid  rowHeight="3:1">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="First name" [formControl]="firstName" required>
              <mat-error *ngIf="firstName.invalid">{{getFNameErrorMessage()}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Last name" [formControl]="lastName" required>
              <mat-error *ngIf="lastName.invalid">{{getLNameErrorMessage()}}</mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="email" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </section>

    
    <section id ="second">
      <mat-grid-list #grid cols="3"  rowHeight="3:1">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Phone" [formControl]="phoneNumber" required>
              <mat-error *ngIf="phoneNumber.invalid">{{getPhoneNumberNameErrorMessage()}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        
        <mat-grid-tile>
          <mat-form-field>
            <mat-select  placeholder="Room type" [formControl]="roomType" required>
              <mat-option value="option1">A</mat-option>
              <mat-option value="option2">B</mat-option>
              <mat-option value="option3">C</mat-option>
            </mat-select>
            <mat-error *ngIf="roomType.invalid">{{getRoomTypeErrorMessage()}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </section>

    <section id ="third">
      <mat-grid-list #grid cols="3"  rowHeight="3:1">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput  [matDatepicker]="picker" [formControl]="serializedArrivalPickerDate" placeholder="Choose arrival date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <!-- <mat-error *ngIf="phoneNumber.invalid">{{getPhoneNumberNameErrorMessage()}}</mat-error> -->
          </mat-form-field>
        </mat-grid-tile>
        
        <mat-grid-tile>
          <mat-form-field>
            <input matInput  [matDatepicker]="picker2" [formControl]="serializedDeparturePickerDate" placeholder="Choose departure date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <!-- <mat-error *ngIf="roomType.invalid">{{getRoomTypeErrorMessage()}}</mat-error> -->
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </section>

    <section id ="fourth">
      <mat-grid-list #grid cols="3"  rowHeight="3:1">
        <mat-grid-tile>
          <mat-form-field>
            <mat-select  placeholder="Number of adults" [formControl]="adultsNumber" required>
              <mat-option value="option1">1</mat-option>
              <mat-option value="option2">2</mat-option>
              <mat-option value="option3">3</mat-option>
              <mat-option value="option4">4</mat-option>
            </mat-select>
            <mat-error *ngIf="adultsNumber.invalid">{{getAdultsNumberErrorMessage()}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        
        <mat-grid-tile>
          <mat-form-field>
            <mat-select  placeholder="Nuber of children" [formControl]="childrenNumber" required>
              <mat-option value="option1">1</mat-option>
              <mat-option value="option2">2</mat-option>
              <mat-option value="option3">3</mat-option>
              <mat-option value="option4">4</mat-option>
            </mat-select>
            <mat-error *ngIf="childrenNumber.invalid">{{getChildrenNumberErrorMessage()}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </section>

    <section id ="fifth">
      <mat-grid-list #grid cols="1"  rowHeight="3:1">
        <mat-form-field >
          <textarea matInput placeholder="Questions/Comments"></textarea>
        </mat-form-field>
      </mat-grid-list>
    </section>
    <button>submit</button>
    </div>
</div>